.card {
    width: 350px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

.animate {
    animation-duration: 1s;
    animation-name: flip;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
